.floating-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 200px; /* Lebar */
    height: 70px; /* Tinggi */
    background-color: #f7d9be;
    color: black;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-size: 24px; /* Ukuran teks */
    font-weight: bold;
    text-align: center;
    transition: background-color 0.3s ease;
  }
  
  .floating-button::after {
    content: '';
    position: absolute;
    bottom: -10px; /* Mengatur posisi ekor */
    right: 20px; /* Geser sesuai kebutuhan */
    width: 20px;
    height: 20px;
    background-color: #f7d9be;
    transform: rotate(45deg); /* Putar untuk membentuk segitiga */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Tambahkan bayangan */
}

  .floating-button:hover {
    background-color: #f5c2a0;
  }
  
  .icon {
    margin-right: 10px;
    font-size: 36px; /* Ukuran ikon */
  }
  